//color

$color-main: #1291c7;
$color-main-light: #1291c794;
$color-white: #fff;
$color-grey: #7f8080;
$color-light-grey:#F0F0F0;
$color-lgrey:#a59c9c;
$color-green:#007F00;
$color-light-green:#CDFFCD;
$color-Dodger-Blue:#2EB6F5;
$color-Blue-Smoke:#7EBABA;
$color-red:#ed1f24;
$color-li-pink: #FFE0E0;
$color-dark:#D30000;
$color-black: #000;
$color-yellow: #ffa401;
$color-l-g:#D9D9D9;
$color-light-grey: #edeff0;
$color-brown : #736b5a;
$color-dark-brown: #233a3d;
$color-text-bg: #0a27466e;