.add-service-paper {
  border: 3px solid $color-lgrey;
  .file-upload-input {
    display: none;
  }
  .custom-file-upload-input {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    border: 1px dashed $color-Dodger-Blue;
    background-color: $color-light-grey;
    outline: $color-Dodger-Blue;
    cursor: pointer;
    text-align: center;
  }
  .add-service-btn {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: $color-black;
    color: $color-white;
    text-transform: uppercase;
  }
}

.add-service-paper{
  .rdt_TableBody{
    overflow-y: scroll !important;
    height: 62vh !important;
  }
}
// .sweet-alert { 
//   transition:2s;
//   transform: scale(0.8);
//   }
.custom-swal.swal2-show {
  animation: slideIn 0.9s forwards;
}

.custom-swal.swal2-hide {
  animation: slideOut 0.9s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}


