.paper{
    .changed-circle{
        width: 200px;
        height: 200px;
        margin-left: 141px;
        margin-bottom: 10px;
        border-radius: 50%;
        border:10px solid rgba(138, 151, 164, 1);
        @include for-desktop{
            margin-left: 125px;
        }
    }
    .vector-img{
        width: 100px;
        height: 92px;
        margin: 45px;
    }
    .continue-btn{
        width: 370px;
        @include for-desktop{
            margin-left: 38px;
        }
    }
}