.paper{
    .changed-circle{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 50%;
        border:10px solid rgba(138, 151, 164, 1);
    }
    .vector-img{
        width: 55px;
    }
}