.paper {
  .user-image {
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-left: 25px;
    padding: 15px;
    height: 60px;
    width: 60px;
  }
  .total {
    h5 {
      margin-top: 15px;
      font-size: 15px;
      font-weight: bolder;
    }
  }
}
.total-paper {
  margin-left: -16px;
  .user-image {
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-left: 25px;
    padding: 15px;
    height: 60px;
    width: 60px;
  }
  h5 {
    margin-top: 25px;
    font-size: 12px;
    font-weight: bolder;
  }
  h6 {
    margin-top: 20px;
  }
}
.total-counts {
  .registeredUser {
    text-align: center;
    margin-left: -16px;
    padding-top: 15px;
    .user-image {
      padding-left: 10px;
      height: 250px;
      width: 200px;
    }
  }
  .booking-graph {
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 15px;
    .user-image {
      padding-bottom: 10px;
    }
  }
  .graph-revennue {
    padding-top: 15px;
    padding-left: 20px;
    .user-image {
      padding-top: 10px;
    }
    .frame {
      padding-bottom: 30px;
    }
  }
}
