.paper {
  .d-logo {
    margin-top: 35px;
  }
  .link-style {
    text-decoration-line: none;
    color: $color-Blue-Smoke;
  }
  .main-form {
    .form {
      .Forget_text {
        font-family: $font-poppins;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
      .forget_btn {
        width: 230px;
        height: 45px;
        margin-top: 9px;
        border-radius: 10px;
        border: none;
        background-color: $color-black;
        color: $color-white;
        text-transform: uppercase;

        .continue-link {
          color: $color-white;
        }
      }
    }
  }
}
