.paper {
    .d-logo {
        margin-top: 80px;
        margin-bottom: 10px;
        margin-left: 50px;
        @include for-desktop{
            margin-left: 29px;
        }
    }

    .back-sign {
        margin-top: 35px;
    }

    .link-style {
        text-decoration-line: none;
        color: rgba(135, 207, 214, 1)
    }

    .for-password {
        margin-left: 60px;
        font-size: 40px;
        font-family: "Poppins";
        font-weight: 600;
        line-height: 45px;
        @include for-desktop{
            margin-left: 40px;
        }

    }

    .Forget_text {
        margin-left: 25px;
        font-family: "Poppins";
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        @include for-desktop{
            margin-left: 0px;
        }

    }

    .Forget_btn {
        margin-left: 63px;
        width: 423px;
        height: 45px;
        margin-top: 9px;
        border-radius: 10px;
        border: none;
        background-color: $color-black;
        color: $color-white;
        @include for-desktop{
            margin-left: 38px;
        }
        .continue-link{
            color: $color-white;
        }
    }
}