* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-poppins;
}
.login-page {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(100%, rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("../../../image/bg-img.png");
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../../../image/bg-img.png");
  background-size: cover;
  .paper {
    min-height: 66vh;
    border-radius: 40px !important;
    @include for-desktop{
      height: 56vh;
    }
    p {
      font-weight: 500;
      margin-left: 15px;
      font-size: 20px;
      color: $color-black;
      span img {
        width: 105px;
        height: 19px;
      }
    }
    .sign-account {
      font-size: 12px !important;
      color: $color-grey;
    }
    .sign-up {
      color: $color-light-green;
    }
    h1 {
      margin-left: 25px;
      font-weight: 500;
      font-size: 45px;
    }
    .main-form {
      .form {
        .text {
          font-weight: 600;
        }
        .input {
          width: 420px;
          height: 55px;
          border-radius: 10px;
          padding-left: 25px;
          border: 1px solid $color-Dodger-Blue;
        }
        .para {
          font-size: 15px !important;
          color: $color-Blue-Smoke;
          text-decoration-line: none;
      font-weight: 400;
        }
        .button {
          margin-left: 190px;
          width: 230px;
          height: 45px;
          margin-top: 9px;
          border-radius: 10px;
          border: none;
          background-color: $color-black;
          color: $color-white;
        }
      }
    }
  }
  .second-section {
    .heading {
      color: $color-white;
      font-weight: 600;
      letter-spacing: 1;
      font-size: 80px;
      text-align: center;
      line-height: 105px;
      @include for-desktop {
        font-size: 50px;
      }
    }
    .second-para {
      font-size: 27px;
      font-weight: 500;
      color: $color-white;
      @include for-desktop {
        font-size: 23px;
      }
    }
    .stylrax {
      margin-top: -15px;
      @include for-desktop {
        text-align: center;
      }
      img {
        @include for-desktop {
          width: 400px;
        }
      }
    }
  }
}
