* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stylarx-page {
  width: 100%;
  height: 640px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(100%, rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("../../../image/bg-img.png");
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../../../image/bg-img.png");
  background-size: cover;
}
/* login-form-start */
.paper {
  width: 540px;
  height: 570px;
  border-radius: 40px !important;
}
.paper h4 {
  margin-top: 43px;
  margin-left: 44px;
}
.sign-account {
  margin-top: 46px;
  font-size: 12px !important;
  color: gray;
}
.sign-up {
  color: rgb(103, 146, 103);
}
.paper h1 {
  margin-top: 15px;
  margin-left: 45px;
  font-weight: 700;
  font-size: 45px;
}
.form {
  margin-left: 60px;
  margin-top: 30px;
}
.text {
  font-weight: 600;
}
.input {
  margin-top: 15px;
  width: 420px;
  height: 55px;
  border-radius: 10px;
  padding-left: 25px;
  border: 1px solid rgb(46, 182, 245);
}
.checkbox {
  margin-top: 25px;
  margin-left: 60px;
}
.para {
  font-size: 15px !important;
  color: rgb(126, 186, 186);
  font-weight: 400;
  margin-left: 90px;
  margin-top: 45px;
}
.button {
  margin-left: 230px;
  width: 255px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-family: 600;
}
.heading{
  color: #fff;
  font-size: 75px;
  text-align: center;
  line-height: 105px;
}
.second-para{
  font-size: 27px;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
}
.stylrax{
  margin-top: -15px;
}
@media screen and (max-width:1155px){
  .heading{
    font-size: 50px;
  }
  .stylrax{
    text-align: center;
  }
  .stylrax img{
    width: 400px;
  }
  .second-para{
    font-size: 23px;
  }
}
@media screen and (max-width:992px){
  .stylarx-page {
    height: 900px;
  }
  .stylarx-m {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paper{
    width: 100%;
  }
  .form{
    width: 100%;
    margin-left: 0;
  }
  .button{
    margin-left: 155px;
  }
}

