.cursor-pointer {
  cursor: pointer;
}
.nav {
  height: 60px;
  .second-half{
    margin-right: 25px;
  }
}
.content {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, #ffffff, rgba(78, 82, 81, 0.9)), url(https://ik.imagekit.io/wavizkushinagar/adm-stylrax/bg-img_34Eb9L8-Wl.webp?updatedAt=1710407067650);
}
.w-24{
  width: 24%;
}
.w-6{
  width: 6%;
}
.w-76{
  width: 76%;
}
.w-94{
  width: 94%;
}