.cursor-pointer {
  cursor: pointer;
}
.nav {
  height: 60px;
  .second-half{
    margin-right: 25px;
  }
}
.content {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(236, 241, 228, 0.9),
      rgba(78, 82, 81, 0.9)
    ),
    url("../../../image/bg-img.png");
}
.w-24{
  width: 24%;
}
.w-6{
  width: 6%;
}
.w-76{
  width: 76%;
}
.w-94{
  width: 94%;
}