.coupon{
    .coupon-details{
      .coupon-form{
            text-align: center;
        label{
            align-self: flex-start;
            padding-bottom: 3px;
            font-size: 15px;
            font-weight:500;
            text-align: left;
            .coupon-textarea{
                padding: 50px;
                border: 2px solid #D9D9D9;
                border-radius: 8px;
                }
           }
        }
    }
}