.paper {
    .new-password-para {
        font-size: 15px;
        font-weight: 600;
        line-height: 46px;
        // margin-left: 58px;
        // @include for-desktop {
        //     margin-left: 38px;
        // }
    }
}