.profile-box{
    width: 130px;
    height: 45px;
    background-color: $color-black;
    border-radius: 10px;
    .profile-icon{
        color: $color-white;
        display: flex;
        gap: 8px;
    }
}