.side-nav-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  padding-left: 27px;

  .side-nav-icon {
    width: 47px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: $color-black;
    justify-content: center;
    color: $color-white;
  }

  .side-nav-label {
    width: 71%;
    height: 40px;
    border-radius: 5px;
    background-color: $color-black;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
}

.sidebar {
  ul li {
    list-style: none;
    margin-left: 35px;
  }

  >li {
    >.active {
      .side-nav-item {
        .side-nav-icon {
          background-color: $color-white;
          color: $color-black;
          border: 1px solid $color-black;
        }

        .side-nav-label {
          background-color: $color-white;
          color: $color-black;
          border: 1px solid $color-black;
        }
      }
    }
  }
}