.main-table{
  border: 3px solid $color-lgrey;
  border-radius: 5px;
}

.active-pill {
  background-color: $color-light-green;
  padding: 0 7px;
  color: $color-green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-pill::before {
  content: "•";
  margin-right: 5px; 
  color: $color-green; 
}
.blocked-pill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  background-color: $color-li-pink;
  color: $color-dark;
}
.blocked-pill::before {
  content: "•";
  margin-right: 5px; 
  color: $color-dark;
}
.appointment-completed{
  color: $color-green; 
}
.appointment-canceled{
  color: $color-dark;
}