.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
    background-color:$color-white !important;
    .logo img{
        width: 200px;
    }
}
.css-1191obr-MuiPaper-root-MuiAppBar-root {
    background-color:$color-white !important;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root{
    box-shadow: none !important;
}
#rightCornerSpan {
    position: fixed;
    top: 10px; 
    right: 10px;
    background-color: #fff;
  }
