/* .control__input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #858585;
    margin-bottom: 3px;
    width: 100%;
    height: 40px;
    padding-inline-start: 10px;
} */

/* .control__input_file_button{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #858585;
    font-size: 12px;
} */

.control__input_error {
    color: red;
    font-weight: 400;  
}

.bold{
    font-weight: 500;
}

@media (max-width:576px){
    .control__input{
        width: 265px; 
    }
}