.Btn{
    background-color: white;
    padding: 0px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 57px;
    margin-top: 6px;
    border: 1.3px solid #858585;
}

.uploadIcon{
    margin-left: -10px;
    height: 30px;
 }

 .aadhar{
    display: flex;
 }

 .back{
    margin-left: -42px;
 }

 .btn{
    padding: 3px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #909090;
    border-radius: 12px;
    margin-top: 10px;
}

.label{
    font-weight: 500;
}

.input{
    border: 2px solid grey;
    outline: none;
}