.Btn {
    background-color: white;
    padding: 0px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 57px;
    margin-top: 6px;
    border: 1.3px solid #858585;
}

.mainDiv {
    gap: 10px;
}

.uploadIcon {
    margin-left: -10px;
    height: 30px;
}

.aadhar{
    gap: 8px;
}

.aadharBack{
    gap: 8px;
}

.panCard{
    gap: 8px;
}


.btn {
    padding: 3px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #909090;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 11px;
}

.label {
    font-weight: 500;
    color: black;
}

.dob {
    font-weight: 500;
    color: black;
}

.inputDob{
    width: 62%;
    border: 2px solid grey;
    outline: none;
}

.gender {
    font-weight: 500;
    color: black;
}

.inputGender{
    width: 62%;
    border: 2px solid grey;
    outline: none;
}

.front{
    font-weight: 500;
    color: black;
}

.back{
    font-weight: 500;
    color: black;
}

.pan{
    font-weight: 500;
    color: black;
}

.input {
    border: 2px solid grey;
    outline: none;
}

