
.btn {
    padding: 3px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #909090;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 11px;
}

.label {
    font-weight: 500;
    color: black;
}

.dob {
    font-weight: 500;
    color: black;
}

.inputDob{
    width: 62%;
    border: 2px solid grey;
    outline: none;
}

.gender {
    font-weight: 500;
    color: black;
}

.inputGender{
    width: 62%;
    border: 2px solid grey;
    outline: none;
}

.input {
    border: 2px solid grey;
    outline: none;
}

.manage{
    color: black;
}

