/* .mainDiv{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 8px;
} */

/* .text{
    color: #BEBEBE;
    font-size: 20px;
} */

/* .text .icon {
    padding-bottom: 2px;
} */

.lab {
    /* padding: 10px 0px; */
    color: black;
    font-weight: 500;
}

.gap {
    gap: 8px;
}

.inputs {
    border: 2px solid grey;
    outline: none;
}

.btn {
    padding: 3px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #909090;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 11px;
}

.color {
    color: black;
}

/* .ifsc{
    padding: 5px 200px 5px 8px;
    border: 2px solid #BEBEBE;
    border-radius: 5px; 
} */

/* .passbook{
    padding: 5px 50px 5px 8px;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
    border-style: none;
} */



.Btn {
    background-color: transparent;
    padding: 0px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 57px;
    margin-top: 6px; */
    border: 1.3px solid #858585;
    background-color: #fff;
}

.uploadIcon {
    margin-left: -10px;
    height: 30px;
}

.labs {
    font-weight: 500;
    color: black;
}